$font-color: #322153;
$secondary-color: #34cb79;
$secondcolor: #ecececc2;
$input-color: #f0f0f5;
$text-color: #fff;
$list-color: #f5f5f5;
$list-selected: #e1faec;
$selected-border: #34cb79;
$modal: #0e0a14ef;
$input-text: #6c6c80;
