.registar-home {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;

  header {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: $font-color;
      font-weight: bold;
      display: flex;
      align-items: center;

      span {
        background-image: url(/img/icones/arrow-left.svg);
        display: flex;
        width: 20px;
        height: 24px;
        margin-right: 16px;
      }
    }
  }

  form {
    background-color: $text-color;
    max-width: 700px;
    margin: 80px auto;
    padding: 60px;
    border-radius: 20px;

    h1 {
      font-size: 32px;
    }

    fieldset {
      margin: 24px 8px 0;
      border: 0;

      legend {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        h2 {
          font-size: 24px;
        }
        span {
          font-size: 14px;
          color: $font-color;
        }
      }

      .items-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        margin-bottom: 16px;

        li {
          list-style: none;
          background-color: $list-color;
          border: 2px solid $list-color;
          border-radius: 8px;
          padding: 32px 24px 16px;
          height: 180px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          text-align: center;
          cursor: pointer;

          span {
            flex: 1;
            display: flex;
            align-items: center;
          }
        }

        li.selected {
          background: $list-selected;
          border: 1px solid $selected-border;
        }

        img,
        span {
          pointer-events: none;
        }
      }
    }

    .field {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-bottom: 16px;
    }

    .field-group {
      display: flex;

      .field + .field {
        margin-left: 24px;
      }
    }

    input,
    select {
      background-color: $input-color;
      border: none;
      padding: 16px;
      font-size: 16px;
      outline: none;
      border-radius: 8px;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    label {
      margin-bottom: 8px;
      font-size: 16px;
    }

    button {
      width: 260px;
      height: 65px;
      background-color: $secondary-color;
      border-radius: 8px;
      color: $text-color;
      font-weight: bold;
      font-size: 16px;
      border: 0;
      margin: 8px;
      transition: ease 1s;
      outline: none;
    }

    button:hover {
      background-color: darken($color: $secondary-color, $amount: 6);
    }
  }
}
