<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/main.css" />
    <title>Ecoleta</title>
  </head>
  <body>
    <div class="main-home">
      <div class="content">
        <header>
          <img src="../../extras-aula-1/icones/logo.svg" alt="Logo" />
          <a href="./registar-ponto.html">
            <span></span>
            Registar ponto de recolha de resíduos</a
          >
        </header>
        <main>
          <h1>Seu marketplace de recolha de resíduos</h1>
          <p>
            Ajudamos pessoas a encontrar pontos de recolha de forma eficiente
          </p>
          <a href="">
            <span></span> <strong>Pesquisar ponto de recolha</strong>
          </a>
        </main>
      </div>
    </div>

    <div id="modal" class="hide">
      <div class="content">
        <div class="header">
          <h1>Pontos de Recolha</h1>
          <a href="">Fechar</a>
        </div>
        <form action="">
          <label for="search">Insira a Cidade</label>
          <div class="search field">
            <input
              type="text"
              name="search"
              id="search"
              placeholder="Pesquise por Cidade"
            />
            <button>
              <img src="../../extras-aula-1/icones/search.svg" alt="Botao" />
            </button>
          </div>
        </form>
      </div>
    </div>
    <script src="../js/home.js"></script>
  </body>
</html>
