{% extends "layout.html" %}

{% set mainClass = "main-home" %}

{% block content %}
  <div class="content">
    <header>
      <img src="/img/icones/logo.svg" alt="Logo" />
      <a href="/registar-ponto">
        <span></span>
        Registar ponto de recolha de resíduos</a
      >
    </header>
    <main>
      <h1>Seu marketplace de recolha de resíduos</h1>
      <p>
        Ajudamos pessoas a encontrar pontos de recolha de forma eficiente
      </p>
      <a href="">
        <span></span> <strong>Pesquisar ponto de recolha</strong>
      </a>
    </main>
  </div>
{% endblock content %}
{% block modal %}
    {%include "partials/modal.html"%}
{% endblock modal %}
{% block scripts %}
  <script src="/js/home.js"></script> 
{% endblock scripts %}
      
    
