{% extends "layout.html" %}

 {% block title %}
      <title>Registar Ponto de Recolha</title>
{% endblock title %}
    
{% set mainClass = "registar-home" %}

{% block content %}
  {% include "partials/page-header.html"%}
        <form action="/savepoint" method="POST">
          <h1>Registo de ponto de recolha</h1>
          <fieldset>
            <legend>
              <h2>Dados da entidade</h2>
            </legend>
            <div class="field-group">
              <div class="field">
                <label for="">Nome da Entidade</label>
                <input type="text" name="name" id="name" required />
              </div> 
              <div class="field">
                <label for="">Imagem da Entidade</label>
                <input type="url" name="image" id="image" placeholder="https://www.example.com" required  />
              </div>
            </div>
           
            <div class="field-group">
              <div class="field">
                <label for="address">Endereço</label>
                <input type="text" name="address" id="endereco" required />
              </div>
              <div class="field">
                <label for="address2">Número da Casa/Edifício</label>
                <input type="number" name="address2" id="numero-casa" placeholder="Insira apenas números" />
              </div> 
            </div>
            <div class="field-group">
              <div class="field">
                <label for="state">Estado</label>
                <select name="uf" required>
                  <option value="">Selecione o Estado/Província</option>
                </select>
                <input type="hidden" name="state" />
              </div>
              <div class="field">
                <label for="city">Cidade</label>
                <select name="city" disabled required>
                  <option value="">Selecione a Cidade</option>
                </select>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>
              <h2>Itens de recolha</h2>
              <span>Selecione um ou mais itens abaixo</span>
            </legend>
            <div class="items-grid">
              <li data-id="Lâmpadas">
                <img src="/img/icones/lampadas.svg" alt="Lâmpadas" />
                <span>Lâmpadas</span>
              </li>
              <li data-id="Pilhas e Baterías">
                <img src="/img/icones/baterias.svg" alt="Pilhas e Baterías" />
                <span>Pilhas e Baterías</span>
              </li>
              <li data-id="Papéis e Papelão">
                <img
                  src="/img/icones/papeis-papelao.svg"
                  alt="Papéis e Papelão"
                />
                <span>Papéis e Papelão</span>
              </li>
              <li data-id="Resíduos Eletrônicos">
                <img
                  src="/img/icones/eletronicos.svg"
                  alt="Resíduos Eletrônicos"
                />
                <span>Resíduos Eletrônicos</span>
              </li>
              <li data-id="Resíduos Orgânicos">
                <img src="/img/icones/organicos.svg" alt="Resíduos Orgânicos" />
                <span>Resíduos Orgânicos</span>
              </li>
              <li data-id="Óleo de Cozinha">
                <img src="/img/icones/oleo.svg" alt="Óleo de Cozinha" />
                <span>Óleo de Cozinha</span>
              </li>
            </div>
            <input type="hidden" name="items" />
          </fieldset>
          <button type="submit">Registar ponto de recolha</button>
        </form>
       


        
{% endblock content %}

{% block modal %}
  {% if saved %}
    {%include "partials/ponto-modal.html"%}
  {% endif %}  
{% endblock modal %}

 {% block scripts %}
 <script src="/js/app.js"></script>
{% endblock scripts %}

  

    
