@media (max-width: 900px) {
  .main-home {
    background-position: center;
    background-position-y: 30vh;

    .content {
      align-items: center;
      text-align: center;

      header a {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    main {
      backdrop-filter: opacity(50%);
      align-items: center;

      p {
        background-color: $secondcolor;
      }
    }
  }
}

@media (max-height: 675px) {
  header {
    margin-top: 10px !important;

    a {
      background-color: $secondcolor;
    }

    span {
      margin: 0 !important;
    }
  }

  main {
    margin-top: -70px;

    h1 {
      font-size: 2em !important;
    }

    p {
      font-size: 1em !important;
    }
  }
}
